<!DOCTYPE html>
<html>

<head>
    <h1>
        Linggo App
    </h1>

</head>

<! Creates the placeholer box for google hangouts>
<! Hangouts api would be implimented in this area>

<div style="padding-left: 50px">
    <svg width="400" height="200" >
        <rect width="300" height="400" ;margin:0 auto; style="fill:rgb(75, 75, 80);stroke-width:3;stroke:rgb(0,0,0)" />
        <text x="5" y="25" font-family="Verdana" font-size="12" fill="white">Placeholder for Google hangouts</text>
       
      </svg>
   

  
    
</div>

<div>
    <h1>     </h1>  <! using this as a spacer>
</div>

<! Second box for webcam placeholder is here>
<! OpenCV or some 2 way video chat api's can be used here to view own webcam>

<div style="padding-left: 50px" >
   
    <svg width="400" height="200" >
        <rect width="300" height="400" ; style="fill:rgb(75, 75, 80);stroke-width:3;stroke:rgb(0,0,0)" />
        <text x="5" y="25" font-family="Verdana" font-size="12" fill="white">Placeholder for webcam</text>
      </svg>
</div>

<! images and slider for the microphone, volume and hang up button are here>

<div style="padding-left: 50px"  >

  
        <img src="https://img.favpng.com/12/16/10/wireless-microphone-clip-art-png-favpng-F7rpGLHyeADEvN0AGZqQH9t8s.jpg" width="20" height="40" onclick="this.src= 'https://cdn.onlinewebfonts.com/svg/img_55899.png' " width="25" height="40">
    
        <img src="http://clipart-library.com/image_gallery/167270.png" width="30" height="40" style="padding-left: 30px">

        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">

        <img src="http://www.clker.com/cliparts/m/T/l/J/S/j/phone-hang-up-red-horizontal-md.png" width="30" height="20" style="padding-left: 30px">
        

</div>
 
<! Notepad area is created here>

<head>

<! defines the javascript source used for note area>

    <title>Note area</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <body>

<! creates a note area for multiple users to add notes and adds date and time to each note>
   
   <script type="text/javascript">
    $(document).ready(function() {
    
        var socket = io.connect('http://127.0.0.1:5000');
    
        socket.on('connect', function() {
            socket.send('Take a note');
        });
    
        socket.on('message', function(msg) {
            var date = new Date(); 
            
            $("#messages").append('<li>'+msg, date +'</li>');
            console.log('Received note');
        });
    
        $('#sendbutton').on('click', function() {
            socket.send($('#myMessage').val());
            $('#myMessage').val('');
        });
        
    });
    </script>
    <ul id="messages"></ul>
    <input type="text" id="myMessage">
    <button id="sendbutton">Send</button>
    </body>
</div>

</html>