<!DOCTYPE html>
<html>

<head>
    <h1>
        Linggo App
    </h1>
</head>
<div style="padding-left: 50px">
    <svg width="400" height="200" >
        <rect width="300" height="400" ;margin:0 auto; style="fill:rgb(75, 75, 80);stroke-width:3;stroke:rgb(0,0,0)" />
        <text x="5" y="25" font-family="Verdana" font-size="12" fill="white">Placeholder for Google hangouts</text>
       
      </svg>
   

    Notepad
    
    <textarea id="notepad" rows="10" cols="50">
    Take a note
    </textarea>
    
    
    
    
</div>
<div>
    <h1>
         
    </h1> 
</div>
<div style="padding-left: 50px" >
   
    <svg width="400" height="200" >
        <rect width="300" height="400" ; style="fill:rgb(75, 75, 80);stroke-width:3;stroke:rgb(0,0,0)" />
        <text x="5" y="25" font-family="Verdana" font-size="12" fill="white">Placeholder for webcam</text>
      </svg>
</div>

<div style="padding-left: 50px"  >

  
        <img src="https://img.favpng.com/12/16/10/wireless-microphone-clip-art-png-favpng-F7rpGLHyeADEvN0AGZqQH9t8s.jpg" width="20" height="40" onclick="this.src= 'https://cdn.onlinewebfonts.com/svg/img_55899.png' " width="25" height="40">
    
        <img src="http://clipart-library.com/image_gallery/167270.png" width="30" height="40" style="padding-left: 30px">

        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">

        <img src="http://www.clker.com/cliparts/m/T/l/J/S/j/phone-hang-up-red-horizontal-md.png" width="30" height="20" style="padding-left: 30px">
        

</div>



</div>

</html>